<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuestas - Página de Inicio</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">SC Surveys</div>
            <button class="menu-toggle" aria-label="Abrir menú">☰</button>
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="login.html">Acceder</a></li>
            </ul>
        </nav>
    </header>
        <div class="bg-image"></div>
        <div class="content">
            <div class="content1">
                <h1>Crea y Gestiona Encuestas Online</h1>
                <p>Diseña, personaliza y gestiona encuestas con facilidad. 
                    <br>
                    Recoge información valiosa de tus participantes y toma decisiones estratégicas basadas en datos reales.</p>
                <a href="login.html" class="cta-button">Crear encuesta</a>
            </div>
            <div class="image-container">
                <img src="https://png.pngtree.com/png-clipart/20230802/original/pngtree-man-studies-statistics-shown-on-bar-chart-picture-image_7820850.png" alt="Imagen referente a encuestas" width="600" height="400">
            </div>
        </div>

    <script src="js/home.js"></script>
</body>
</html>
